.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
}

nav a {
  text-decoration: none;
  color: black !important;
}

.container {
  padding: 20px;
}

.title {
  text-align: center;
}


